
@{
    ViewData["Title"] = "EventListView";
    var events = (List<EventPlatform.Models.Event>)ViewData["EventList"];
    var responseMessage = ViewData["operationResponse"] == null ? null : (string)ViewData["operationResponse"];
    bool responseSucces = ViewData["operationSucces"] == null ? false : (bool)ViewData["operationSucces"];

    Layout = "~/Views/MainLayout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<h2>EventListView</h2>

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Filtruoti
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <form asp-controller="Event" asp-action="List" method="get">
            <input class="btn btn-secondary dropdown-item" type="submit" value="Visi">
        </form>
        <form asp-controller="Event" asp-action="List" method="get">
            <input type="hidden" name="option" value="upcoming"><br>
            <input class="btn btn-secondary dropdown-item" type="submit" value="Artėjantys">
        </form>
        <form asp-controller="Event" asp-action="List" method="get">
            <input type="hidden" name="option" value="ended"><br>
            <input class="btn btn-secondary dropdown-item" type="submit" value="Pasibaigę">
        </form>
    </div>
</div>
<br />
@if (responseMessage != null && responseSucces == true)
{
    <div class="p-3 mb-2 bg-success text-white">@responseMessage</div>
}
else if (responseMessage != null && responseSucces == false)
{
    <div class="p-3 mb-2 bg-warning text-dark">@responseMessage</div>
}
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Pavadinimas</th>
                <th scope="col">Vieta</th>
                <th scope="col">Pradžia</th>
                <th scope="col">Kaina</th>
                <th scope="col">Nuoroda</th>
                <th scope="col">Pridėti</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var e in events)
            {
                <tr>
                    <td>@e.Name</td>
                    <td>@e.Place</td>
                    <td>@e.Date</td>
                    <td>@e.Price</td>
                    <td>
                        <form asp-controller="Event" asp-action="Index" method="get">
                            <input type="hidden" name="eventId" value="@e.Id">
                            <input class="btn btn-secondary dropdown-item" type="submit" value="Detaliau">
                        </form>
                    </td>
                    <td>
                        <form asp-controller="Schedule" asp-action="AddToUserSchedule" method="post">
                            <input type="hidden" name="eventId" value="@e.Id">
                            <input type="hidden" name="redirectAction" value="EventListView">
                            <input class="btn btn-secondary dropdown-item" type="submit" value="Pridėti į tvarkaraštį">
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>